<p class="h2">User info</p>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">name</th>
        <th scope="row"><%= user.name %></th>

      </tr>
      <tr>
        <th scope="row">introduction</th>
        <th scope="row"><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
    <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block ' do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
<p class="h2">New book</p>
  <%= form_with model: book do |f| %>
    <p>title</p>
      <%= f.text_field :title, class: 'form-control' %>
    <p>Opinion</p>
      <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit 'Create Book', class: 'btn btn-success mt-2'  %>
  <% end %>